/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/*桌面版*/
.box{
	width: 100%;
	height: 200px;
	background: red;
}

/*視窗寬度大於 900px 時，套用這段程式碼
（不符合邏輯）*/
/* @media (min-width: 900px){
	.box{
		background: green;
	}
} */

/*視窗寬度小於 600px 時，套用這段程式碼
（這段比較常使用，新手推薦）*/

/* @media (max-width: 600px){
	.box{
		background: blue;
	}
} */

/* 行動版 */
@media screen and (max-width: 560px){
	.box{
		background: yellow;
	}	
}
